<div class="container">
  Post a new link


  <%= form_for @link do |f| %>

  <div>
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </div>

    <div>
      <%= f.label :url %>
      <br/>
      <%= f.text_field :url %>
    </div>

    <div>
      <%= f.label :user %>
      <br/>
      <%= f.select(:user_id, User.all.map {|p| [p.name, p.id]}) %>
    </div>

    <div>
      <%= f.submit %>
    </div>

  <% end %>
</div>
