<div class="container">
  Post a new link


  <%= form_for @link do |f| %>

    <div>
      <%= f.label :url %>
      <br/>
      <%= f.text_field :url %>
    </div>

    <div>
      <%= f.label :user %>
      <br/>
      <%= f.text_field :user %>
    </div>

    <div>
      <%= f.submit %>
    </div>

  <% end %>
</div>
